<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>รายละเอียดหนังสือ</title>
</head>
<body>
    <h2>📖 รายละเอียดหนังสือ</h2>
    
    <ul>
        <li><b>ID หนังสือ:</b> <%= book.id %></li>
        <li><b>ชื่อหนังสือ (Title):</b> <%= book.title %></li>
        <li><b>ราคา (Price):</b> ฿<%= book.price %></li>
        <li><b>ผู้แต่ง (Author):</b> <%= book.author ? book.author.name : '-' %></li>
        <li><b>หมวดหมู่ (Category):</b> <%= book.category ? book.category.name : '-' %></li>
    </ul>

    <br>
    <a href="/edit/<%= book.id %>">✏️ แก้ไขข้อมูล</a> | 
    <a href="/">⬅ กลับหน้าแรก</a>
</body>
</html>